<div class="cart-container">
  <div class="header">Giỏ hàng</div>
  <div class="list-product">
    <ng-container *ngFor="let p of listProduct">
      <div class="item flex">
        <div class="col1">
          <div class="name text-ellipsis">
            {{ p.product.Name }}
          </div>
          <div class="price text-ellipsis">Đơn giá: {{ p.product.Price | currency: "VND" }}</div>
        </div>
        <div class="total-price">
          {{ (p.product.Price * p.quantity) | currency: "VND" }}
        </div>
        <div class="quantity flex">
          <div class="minus" (click)="minusProduct(p.product)">-</div>
          <div class="number">
            {{ p.quantity }}
          </div>
          <div class="add"(click)="addProduct(p.product)">+</div>
        </div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="listProduct.length > 0" class="delete-cart" (click)="deleteCart()">
    Xoá giỏ hàng
  </div>
  <div *ngIf="listProduct.length === 0 && !buySuccess" class="empty-cart" (click)="deleteCart()">
    Không có sản phẩm trong giỏ hàng!
  </div>
  <div *ngIf="listProduct.length === 0 && buySuccess" class="empty-cart" (click)="deleteCart()">
    Đặt hàng thành công!
  </div>

  <form #form="ngForm" *ngIf="listProduct.length > 0" class="customer flex">
    <input type="text" name="name" placeholder="Họ tên" [(ngModel)]="order.Name" required />
    <input type="text" name="address" placeholder="Địa chỉ nhận hàng" [(ngModel)]="order.UserAddress" required />
    <input type="text" name="phone" placeholder="Số điện thoại" [(ngModel)]="order.UserPhone" required />
    <button [disable]="form.invalid" [class.invalid]="form.invalid" class="buy" (click)="buy(form.invalid)">
      Đặt hàng ({{ cartService.totalPrice | currency: "VND" }})
    </button>
  </form>
</div>
